@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    a {
        text-decoration: none !important;
    }

    button:active {
        transform: scale(0.95);
    }

    select,
    input:is([type="checkbox"], [type="radio"]) {
        cursor: pointer;
    }

    #cecc-event_name {
        -webkit-text-stroke: 0.5px #E17F57;
    }

    #competition-multiple_choice {
        list-style-type: upper-alpha;
    }

    #home-event_name {
        -webkit-text-stroke: 1px #E17F57;
        text-shadow: 1px 1px 20px #0600041a;
    }
}
